<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.min.css">

    <title>CarRent Car Rental Company</title>
	
	
  </head>
  <body>
	<img class="img" src="{{url_for('static', filename='Logo_v2.png')}}" align="middle" />
    <div class="container">
		<div class="row mb-2">
			<div class="col-md-6">			
						<div class="card mb-2">
					  <div class="card-header">
						Management
					  </div>
					  <div class="card-body">
					   
						<p class="card-text">Employees of the rental company can add cars to the database.</p>
						<a href="" class="btn btn-secondary">Insert a Car</a>
					  </div>
						</div><!--card-->
			</div><!-- /.col -->

			<div class="col-md-6">			
						<div class="card mb-2">
					  <div class="card-header">
						List of Cars
					  </div>
					  <div class="card-body">
					   
						<p class="card-text">Employees can have a view on all registered cars in the database.</p>
						<a href="" class="btn btn-secondary">Go to List</a>
					  </div>
						</div><!--card-->
			</div><!-- /.col -->
			<div class="col-md-6">			
				<div class="card mb-2">
			  <div class="card-header">
				Edit or Delete a Car
			  </div>
			  <div class="card-body">
			   
				<p class="card-text">Employees can Edit a Entry when a car gets rented or delete a Car if it gets sold.</p>
				<a href="" class="btn btn-secondary">Edit/Delete</a>
			  </div>
				</div><!--card-->
	</div><!-- /.col -->


		</div><!-- /.row -->	
	</div>
	
	
	
  </body>
  <style>
	  .img {
  		display: block;
  		margin-left: auto;
  		margin-right: auto;
  		width: 50%;
		}
  </style>
</html>