{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Sock Style List
{% endblock %}


{% block content %}

<div class="container">
  <div class="row pb-5">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">List of Cars</h1>

      <p class="lead alert alert-warning">This is a list of all the cars of the
			<strong>{{ brand }}</strong> brand in our inventory.</p>

	  <p class="ml-4"><a href="{{ url_for('index') }}">Return to the Home.</a></p>

		<table class="table">
			<tr>
				<th></th>
				<th>Brand</th>
				<th>Engine</th>
				<th>Trunkspace</th>
				<th>Transmission</th>
				<th>Seats</th>
				<th>Fuel</th>
                <th>Price</th>
                <th>Status</th>
                <th>Year</th>
                <th>Kilometer</th>
			</tr>

			<!-- here is a for-loop to give us all the cars -->
			{% for sock in socks %}
			<tr>
				<td>{{ car.brand }}</td>
				<td>{{ car.engine }}</td>
				<td>{{ car.trunkspace }}</td>
				<td>{{ car.transmission }}</td>
				<td>{{ car.seats }}</td>
				<td>{{ car.fuel }}</td>
                <td>€{{ car.price }}</td>
                <td>{{ car.status }}</td>
                <td>{{ car.year }}</td>
                <td>{{ car.kilometer }}</td>
			</tr>
			{% endfor %}
		</table>

		</div>
	</div>
</div>

{% endblock %}